.fadeOut{
    -o-animation: fadeOut 10000ms 1 linear forwards;
    -ms-animation: fadeOut 10000ms 1 linear forwards;
    -moz-animation: fadeOut 10000ms 1 linear forwards;
    -webkit-animation: fadeOut 10000ms 1 linear forwards;
    animation: fadeOut 10000ms 1 linear forwards;
    }
.fadeSlow{
    -o-animation: fadeOutSlow 1000ms 1 linear forwards;
    -ms-animation: fadeOutSlow 1000ms 1 linear forwards;
    -moz-animation: fadeOutSlow 1000ms 1 linear forwards;
    -webkit-animation: fadeOutSlow 1000ms 1 linear forwards;
    animation: fadeOutSlow 1000ms 1 linear forwards;
    }    


      img{
          opacity:.8;
          margin:0;padding:0;
          }
      
    
    #emojiListDiv{
    z-index:1000;
    margin:0;padding:0;
        position: relative; left: 0%; top:0;
/*        border: dotted red 1px;*/
        height:0;margin:0;padding:0;
           -webkit-perspective: 1500px;
        -moz-perspective: 1500px;
        -o-perspective: 1500px;       
        perspective: 1500px;
       -webkit-animation-name: spin;
    -webkit-animation-duration: 54000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 54000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 54000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 54000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg)  scale(1.5,1.5);}
    25% { -ms-transform: rotate(-90deg)  scale(0,0);}
    40% { -ms-transform: rotate(-144deg) scale(1,1); }
    70% { -ms-transform: rotate(-252deg) scale(2.4,2.4); }
    100% { -ms-transform: rotate(-360deg) scale(1.5,1.5); }
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg)  scale(1.5,1.5);}
    25% { -moz-transform: rotate(-90deg)  scale(0,0);}
    40% { -moz-transform: rotate(-144deg) scale(1,1); }
    70% { -moz-transform: rotate(-252deg) scale(2.4,2.4); }
    100% { -moz-transform: rotate(-360deg) scale(1.5,1.5); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg)  scale(1.5,1.5);}
    25% { -webkit-transform: rotate(-90deg)  scale(0,0);}
    40% { -webkit-transform: rotate(-144deg) scale(1,1); }
    70% { -webkit-transform: rotate(-252deg) scale(2.4,2.4); }
    100% { -webkit-transform: rotate(-360deg) scale(1.5,1.5); }
}
@keyframes spin {
     0% { transform: rotate(0deg)  scale(1.5,1.5);}
    25% { transform: rotate(-90deg)  scale(0,0);}
    40% { transform: rotate(-144deg) scale(1,1); }
    70% { transform: rotate(-252deg) scale(2.4,2.4); }
    100% { transform: rotate(-360deg) scale(1.5,1.5); }
}
@-o-keyframes fadeOut {
    0% { opacity:1;}
    50% { opacity:1;}
    100% { opacity:0;}
}
@-ms-keyframes fadeOut {
    0% { opacity:1;}
    50% { opacity:1;}
    100% { opacity:0;}
}
@-moz-keyframes fadeOut {
    0% { -moz-opacity:1;}
    50% { -moz-opacity:1;}
    100% { -moz-opacity:0;}
}
@-webkit-keyframes fadeOut {
    0% { opacity:1;}
    50% {opacity: 1;}
    100% { opacity:0;}
}
@keyframes fadeOut {
     0% { opacity:1;}
    50% { opacity:1;}
    100% { opacity:0;}
}
@-o-keyframes fadeOutSlow {
    0% { opacity:1;}
    100% { opacity:0;}
}
@-ms-keyframes fadeOutSlow {
    0% { opacity:1;}
    100% { opacity:0;}
}
@-moz-keyframes fadeOutSlow {
    0% { -moz-opacity:1;}
    100% { -moz-opacity:0;}
}
@-webkit-keyframes fadeOutSlow {
    0% { opacity:1;}
    100% { opacity:0;}
}
@keyframes fadeOutSlow {
     0% { opacity:1;}
    100% { opacity:0;}
}
